{% extends "boxTemplates.html" %}

{% block extraHeadSpace %}
{% endblock %}

{% block top %}
  <div class="pure-u paper" id="hometop"></div>
{% endblock %}

{% block middle %}
  <div class="pure-g pure-u-1 paper" id="homesearch">
    <form action="/search" method="POST" class="pure-g pure-u-1 pure-form">
      <div class="pure-g pure-u-1">
        <label for="queryhome" class="pure-u-1 logoBig title">
          <span class="logoC title">C</span>ulinary<span class="logoC title">C</span>ards
        </label>
        <div class="pure-g query-container">
          <input class="pure-u-2-3" type="search" id="queryhome" name="queryhome" placeholder="Search 100s of Recipes..." required>
          <input class="pure-u-1-3" type="submit" id="queryhomesubmit" value="Search" class="pure-button">
        </div>
      </div>
    </form>
  </div>
  {% for item in results %} {# Making a div for every submission to list their name and thoughts #}
  <div class="pure-g pure-u-1">
    <div class="pure-u-1"> 
      {{ item[0] }}
        has
      {{ item[1] }}
        calories
    </div>
  </div>
  {% endfor %}
{% endblock %}

<!-- {% block results %} -->
  <!-- {% for item in results %} {# Making a div for every submission to list their name and thoughts #}
  <div class="pure-g pure-u-1">
    <div class="pure-u-1"> 
      {{ item[0] }}
        has
      {{ item[1] }}
        calories
    </div>
  </div>
  {% endfor %} -->
<!-- {% endblock %} -->

{% block bottom %}
    <div class="pure-u-1 paper" id="homebottom"><img class="pure-img" id="arrow" src="../static/resources/arrow.png"></div>

    <div id="hero-container"> Search. Cook. Save. </div>

    <div class="pure-g pure-u-1" id="recipe-day-container">
      <div class="pure-u-1 title" id="recipe-day-section-title">Recipe of the Day</div>
      <div class="pure-g pure-u-1" id="recipe-day-info-section">
        <div class="pure-u-1-4" id="recipe-day-img"><img class="pure-img" id="img-of-recipe" src="../static/resources/breakfast.jpg"></div>
        <div class="pure-g pure-u-1-4" id="recipe-day-info">
          <div class="pure-u-1" id="recipe-day-title">{{recipeofday[1]}}</div>
          <div class="pure-u-1" id="recipe-day-author">Written by: {{recipeofday[6]}}</div>
          <div class="pure-u-1" id="recipe-day-description">{{recipeofday[2]}}</div>
          <div class="pure-u-1" id="recipe-day-ingredients">Ingredients: {{recipeofday[3]}}</div>
        </div>
      </div>
    </div>

    <!-- <div class="pure-u-1" id="above-cards"></div> -->

    <div class="pure-g card-container">
      <a class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-4 pure-img card" id="breakfast">Breakfast</a>
      <a class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-4 pure-img card" id="lunch"> Lunch </a>
      <a class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-4 pure-img card" id="dinner"> Dinner </a>
      <a class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-4 pure-img card" id="dessert"> Dessert </a>
    </div>

    <div class="pure-u-1" id="footer">
      Project by: Adam Kvant, Minh Tong, Rock Zgutowicz, Lucas Schottler
    </div>
{% endblock %}

