{% extends "boxTemplates.html" %}

{% block extraHeadSpace %}
{% endblock %}

{% block top %}
{% endblock %}

{% block middle %}
    <div id="homesearch">
      <form action="/search" method="POST" class="pure-form">
        <div>
            <label for="queryhome" class="logoBig"><span class="logoC">C</span>ulinary<span class="logoC">C</span>ards</label>
            <input type="search" id="queryhome" name="queryhome" placeholder="Search 100s of Recipes..." required>
            <input type="submit" id="queryhomesubmit" value="Search" class="pure-button">
        </div>
        <div>
          
        </div>
      </form>
    </div>
{% endblock %}

{% block bottom %}
    <div id="homebottom">
    </div>
    <div class="pure-g card-container">
      <a class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-4 pure-img card" id="breakfast">Breakfast</a>
      <a class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-4 pure-img card" id="lunch"> Lunch </a>
      <a class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-4 pure-img card" id="dinner"> Dinner </a>
      <a class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-4 pure-img card" id="dessert"> Dessert </a>
    </div>
{% endblock %}


