{% extends "boxTemplates.html" %}

{% block extraHeadSpace %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='profile.css') }}">
    <script src="{{ url_for('static', filename='profile.js') }}"></script>
{% endblock %}


{% block middle %}

<div id="pfpSelect">
    <div id="pfpExit" onclick="pfpToggle()">x</div>  
    <div id="imgPreviewSelect">
        <input type="file" id="pfpInput" accept="image/*" onchange="setPfp(this)" style="display: none;">
        <label for="pfpInput" id="pfpLabel">
            <img id="imgSelect" src="https://cdn-icons-png.flaticon.com/512/44/44289.png" alt="Select Image">
        </label>
    </div>
    <div id="previewRight">
        <h4 style="margin-bottom: 0;">Profile Picture Preview</h4>
        <img id="pfpPreview" alt="Profile Picture Preview" class="pfp" onload="showImage(this)">
        <button id="pfpSubmit" onclick="submitPfp()">Update Profile Picture</button>
    </div>  
</div>
<div id="pfpGrayBackground"></div>

    <div id="profileContainer" class="pure-g">
        <div class="pure-u-1-4 profileInfo" id="profileInfo">
            <div id="imgContainer">
                <img id="pfp" alt="Profile Picture" class="pfp" onload="showImage(this)">
                <img id="editProfile" src="https://cdn-icons-png.flaticon.com/512/1250/1250925.png" alt="Edit Profile" class="editPfp" onclick="toggleEdit(this)">
            </div>
            <h1 id="username" class="username">{{user["username"]}}</h1>
            <h5 id="bio" class="bio">{{user["bio"]}}</h5>
            <div class="numberOfCluster">
                <img src="https://cdn-icons-png.flaticon.com/512/1999/1999896.png" class="icon" alt="Spatula Icon">            
                <h2 id="numberOfRecipes" class="numberOf">{{recipecount}}</h2>
            </div>
            <div class="numberOfCluster">
                <img src="https://cdn-icons-png.flaticon.com/512/833/833472.png" class="icon" alt="Heart Icon">
                <h2 id="numberOfLikes" class="numberOf">{{userlikes}}</h2>
            </div>
        </div>
        <div class="pure-u-1-4" id="editProfileContainer">
            <h1>Editing Your Profile:</h1>
            <div>
                <label for="editUsername">Username:</label>
                <span id="usernameError" class="error" style="color: red; display: none;">Invalid/Taken Username</span>
            </div>
            <input type="text" id="editUsername" class="pure-input-1" placeholder="Username" maxlength="20">
            <label for="editBio">Bio:</label>
            <textarea id="editBio" class="pure-input-1" placeholder="Bio" maxlength="200"></textarea>
            <div>
                <button id="cancelEdit" class="pure-button cancel" onclick="toggleEdit(this)">Cancel</button>
                <button id="submitEdit" class="pure-button submit" onclick="submitEdit(event)">Update Profile</button>
            </div>
        </div>
    </div>

    <div class="profileRecipeMenu">
        <div id="profileMenu" class="pure-menu pure-menu-horizontal profileMenu">
            <ul class="pure-menu-list" id="recipePagesContainer">
                <li class="pure-menu-item">
                    <a onclick="changeToMy()" class="pure-menu-link">My Recipes</a>
                </li>
                <li class="pure-menu-item">
                    <a onclick="changeToLiked()" class="pure-menu-link">Liked Recipes</a>
                </li>
                <li class="pure-menu-item">
                    <a onclick="changeToSaved()" class="pure-menu-link">Saved Recipes</a>
                </li>
            </ul>
        </div>
        <div id="hamburgerMenu" onclick="toggleHamburger()">
            Ham
        </div>

        <div id="sortContainer">
            <label for="sortProfileRecipes">Sort</label>
            <select id="sortProfileRecipes" class="pure-input-1-2">
                <option value="newest">Newest</option>
                <option value="oldest">Oldest</option>
                <option value="most_liked">Most Liked</option>
            </select>
        </div>
    </div>  
    <div class="pure-g" id="profileRecipesContainer">
        <a class="pure-u-1-3 createRecipeTile" id="createRecipe" href="/createRecipe">New Recipe</a>
        {% for recipe in recipes %}
            <a class="pure-u-1-3 profileRecipe" id="{{recipe[0]}}" href="/recipe/{{recipe[0]}}">
                {{recipe[1]}}
            </a>
        {% endfor %}
    </div>

{% endblock %}