{% extends "boxTemplates.html" %}

{% block extraHeadSpace %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='recipePage.css') }}">
{% endblock %}

{% block middle %}

  <div class="pure-g pure-u-1" id="recipe-container">
    <div class="pure-u-1 title" id="recipe-section-title">
      {{recipe[1]}}
    </div>
    <div class="pure-g pure-u-1" id="recipe-info-section">
      <div class="pure-u-1-4" id="recipe-img">
        <img class="pure-img" id="img-of-recipe" src="../static/resources/breakfast.jpg">
      </div>
      <div class="pure-g pure-u-1-5" id="recipe-info">
        Ingredients:
        {% for ingredient in recipe[3] %}
          <p>- {{ ingredient }}</p>
        {% endfor %}
      </div>
      <div class="pure-g pure-u-1-5" id="recipe-info">
        Directions: 
        {% for instruction in recipe[4] %}
          <p>- {{ instruction }}</p>
        {% endfor %}
      </div>
      <div class="pure-g pure-u-1-4" id="recipe-info">
        <div class="pure-u-1" id="recipe-day-author">
          Written by: {{recipe[6]}}
        </div>
        <div class="pure-u-1" id="recipe-day-description">
          {{recipe[2]}}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
