{% extends "boxTemplates.html" %}

{% block extraHeadSpace %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='recipePage.css') }}">
    <script src="{{ url_for('static', filename='recipePage.js') }}"></script>
{% endblock %}

{% block middle %}

<div class="pure-g pure-u-1" id="recipe-view-body">
  <div class="pure-g pure-u-7-8" id="recipe-view-container">
    <div class="pure-g pure-u-3-5" id="left-side">
      <div class="pure-u-1" id="recipe-view-title">{{ recipe[1] }}</div>
      <div id="recipe-view-post-details">
        <div class="pure-u-1" id="recipe-view-author">Written by: <a class="profileTag" href="/profile?profile={{recipe[7]}}">{{ recipe[6] }}</a></div>
        <div class="pure-u-1" id="recipe-view-date">Published: {{ time }}</div>
      </div>

      <div class="pure-u-5-8" id="recipe-view-img-container">
        <img class="pure-img pure-u-1" id="recipe-view-img" src="{{recipe[9]}}">
      </div>

      <div class="pure-u-5-8" id="recipe-view-description">{{ recipe[2] }}</div>
      <br/><br/>
      <div class="pure-u-1" id="category-container">Categories: 
        {% for info in recipe[8] %}
          {{ info }}{% if not loop.last %}, {% endif %}
        {% endfor %}
      </div>
      <div class="pure-g pure-u-1-2" id=""> 
        <br/>
        Ingredients:
        <ul class="pure-g pure-u-1" id="ingredient-container" >
          {% for info in recipe[3] %}
          <li class="ingredients" id="item-{{ loop.index }}">
            <input type="checkbox" class="" id="ingredient-{{ loop.index }}" />
            <label for="ingredient-{{ loop.index }}">{{ info }}</label>
          </li>
          {% endfor %}
        </ul>

        Steps:
        <ul class="pure-g pure-u-1" id="step-container" >
          {% for info in recipe[4] %}
            <li class="ingredients" id="instruction-{{ loop.index }}">
              <input type="checkbox" class="" id="step-{{ loop.index }}" />
              <label for="step-{{ loop.index }}">{{ loop.index}}. {{ info }}</label>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div> 

    <div class="pure-g pure-u-3-8" id="right-side">
      <div class="pure-g pure-u-1" id="likes-and-saves-container">
        <div class="pure-g pure-u-1-5" id="likes-container">
          <div class="pure-u-1" id="likes"><a href="#" ><img class="icon" src="{{ url_for('static', filename='resources/like.png') }}"></a></div>
          <div class="pure-u-1" id="likes-count">13,125 Likes</div>
        </div>
        <div class="pure-u-1-5" id="saves"><a href="#"><img class="icon" src="{{ url_for('static', filename='resources/save.png') }}"></a></div>
      </div>
      
      <div class="pure-u-1 title" id="comment-section-title">Comment Section</div>
      <div class="pure-g pure-u-1" id="comment-container">
        {% for comment in comments %}
          {% if session.get("user") == comment[4] %}
            <div class="pure-u-1 comment" id="comment-with-button" commentid="{{ comment[0] }}">
              {{ comment[3] }}: {{ comment[2] }}
              <button class="pure-button delete-btn" id="delete-button" type="button" commentid="{{ comment[0] }}" commentuserid="{{ comment[4] }}" onClick="deleteComment()">
          
              </button>
            </div>
          {% else %}
            <div class="pure-u-1 comment" id="" commentid="{{ comment[0] }}">{{ comment[3] }}: {{ comment[2] }}</div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
  <div id="hidden-recipe-id">{{ recipe[0] }}</div>
  {% if session.get("user") %}
    <textarea id="comment-box" name="comment" class="pure-g pure-u-1-2" rows="4" cols="50" placeholder="Write your comment here..."></textarea>
  {% endif %}
  <div class="pure-g pure-u-1" id="search-result-btns">
    <button class="pure-button" id="scroll-btn" type="button" onClick="history.back()">Back</button>
    {% if session.get("user") %}
      <form id="comment-form">
        <button class="pure-button" id="scroll-btn" type="button" onClick="addComment()">Make a Comment</button>
      </form>
    {% endif %}
  </div>
</div>
<script src="{{ url_for('static', filename='recipePage.js') }}"></script>
{% endblock %}
