html, body {
    background-color: white !important;
}

#grayBackground {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

#backProfile {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8vw;
    min-width: 8vh;
    min-height: 3vh;
    top: 12vh;
    left: 4vh;
    cursor: pointer;
    font-size: clamp(.25em, 1.5vmin, 1em);
}

#deleteIcon {
    position: fixed;
    width: 2vmax;
    top: 12vh;
    right: 4vh;
    cursor: pointer;
}

#deletePrompt {
    font-size: 1.5vmin;
    display: none;
    width: 20vmax;
    padding: 2% 2% 2% 2%;
    position: fixed;
    top: 12vh;
    margin-left: 20%;
    margin-right: 20%;
    z-index: 1001;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}

#cancelDelete:hover{
    background-color: rgb(0,255,0,.2);
}

#confirmDelete:hover{
    background-color: rgb(255,0,0,.2);
}

.createRecipeContainer {
    padding-top: 12vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.step {
    top: 2vh;
    font-size: 3vmax;
}

#recipeTitle {
    width: 40vmax;
    height: 3vmax;
    border-radius: 15px;
    margin-bottom: 0;
}

#createRecipeOne {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
}

#recipeTitle::placeholder {
    font-size: 1.5vmax;
    text-align: center;
}

#recipeDescription {
    width: 36vmax;
    height: 5vmax;
}

#selectedCategories {
    width: 36vmax;
}

#selectedCategories li {
    padding: 1vh;

    .pure-menu-item {
        cursor: pointer;
    }
}

.dropdown {
    display: none;
    flex-direction: column;
    margin-bottom: 10vh;
}

.option {
    display: flex;
    padding: 1vh;
    margin: .25vh;
    justify-content: center;
    align-items: center;
    background-color: #d6ccc2;
}

.option:hover {
    background-color: #bfa99c;
    cursor: pointer;    
}

#createRecipeTwo {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#showUnits {
    padding: 10vh;
    background-color: rgb(255, 242, 230);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
    display: none;
    border: 1px solid black;
    border-radius: 8px;
}

#unitsTitle {
    margin-top: 0;
}

#unitOptions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vh;
}

#ingredientContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ingredient {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vh;
}

.removeButton {
    cursor: pointer;
    display: relative;
    width: 1vmax;
    height: 1vmax;
}

.addIngredient {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 2vh;
}

#addedIngredientsTitle {
    display: none;
    align-items: left;
}

#ingredients {
    margin-left: calc(1vmax + 2vh);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2vh;
    gap: 2vh;
    margin-bottom: 10vh;
}

#createRecipeThree {
    display: none;
    width: 70%;
}

#ingredientsAndInstructions {
    gap: 2vh;
}

#ingredientsSection {
    padding: 1vh;
    background-color: #ebebeb;
    height: 60vh;
}

#availableTitle {
    font-size: 1.5vmax;
    padding: 1vh;
}

#ingredientScroll {
    height: calc(100% - 1.5vmax - 2vh);
    direction: rtl;
}

#ingredientsList {
    direction: ltr;
    width: 100%;
}

#ingredientsList li {
    padding: 1vh;
}

.ingredientButton {
    width: 80%;
    border-radius: 30px;
    font-weight: bold;
    font-size: .8vmax;
    background-color: #d6ccc2;
}

.ingredient {
    text-align: left;
}

#instructionsContainer {
    width: 100%;
    height: 100%;
    gap: 2vh;
    justify-content: center;
    align-items: center;
}

#intructionsSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1vh;
    background-color: #ebebeb;
    height: 60vh;
    gap: 1vh;
    text-align: left;
}

#instructions {
    width: 100%;
    height: 100%;
    background-color: white;

    li {
        list-style-type: none;
    }
}

#instructionsGrid {
    height: 100%;
}

.instruction {
    height: auto;
    padding: 1vh;
    cursor: pointer;
}

#instruction {
    width: 100%;
    height: 80%;
    border-radius: 15px;
    border: 0px solid black;
}

#instructionEntryGrid {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    height: 100%;

    #editTitle {
        display: none;
    }
}

#submitInstruction {
    height: 2vmax;
    width: 50%;
    border-radius: 15px;
    background-color: #d6ccc2;
    font-size: 1.5vmin;
}

#submitInstructions {
    margin-left: auto;
    margin-right: auto;
    height: 2vmax;
    background-color: #d6ccc2;
    border-radius: 15px;
}

#editDeletePopup {
    display: none;
    position: fixed;
    transform: translate(-50%, -50%);
    background-color: #fff0e6;
    z-index: 1001;
    padding: 1vh;
    
    h3 {
        padding: 0;
        margin: 0;
        position: fixed;
        right: 5px;
        top: 2px;
        cursor: pointer;
    }

    .pure-menu-item {
        cursor: pointer;
        padding: 1vh;
        background-color: white;
    }

    .pure-menu-item:hover {
        font-weight: bold;
    }
}

#saveInstruction {
    display: none;
}

#nextPreviousContainer {
    position: fixed;
    display: grid;
    bottom: 0;
    width: 100%;
    height: 10vh;
    background-color: white;

    grid-template-columns: 10% 80% 10%;
    grid-template-areas: 
        "backStep none nextStep";
}

#submitStep {
    grid-area: nextStep;
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;

    h4 {
        margin: 0;
    }

    img {
        width: 2vmax;
        height: 2vmax;
    }
}

#backStep {
    grid-area: backStep;
    display: none;
    align-items: center;
    flex-direction: column;
    cursor: pointer;

    h4 {
        margin: 0;
    }

    img {
        width: 2vmax;
        height: 2vmax;
        rotate: 180deg;
    }
}

#createRecipeFour {
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1vh;
    height: 100%;
    width: 100%;
}

#photoOptionsContainer {
    width: 100%;
    height: 16vmax;
    display: flex;
    gap: 1vh;
    align-items: center;
    justify-content: center;
}

.photoPreview {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32vmax;
    height: 100%;
    gap: 1vh;
    border: 3px solid black;
}

.photoPreview img {
    padding-top: 2vh;
    padding-bottom: 2vh;
    width: 50%;
    height: 100%;
    object-fit: contain;
}

.photoPreview:hover {
    cursor: pointer;
    border: 3px solid green;
}

.photoText {
    font-size: 2vmax;
}

.comment-btn {
    border: solid 1px hsl(39, 14%, 58%);
    background-color: #d6ccc2;
    border-radius: 5px;
}

#completion {
    margin-top: 4vh;
    button {
        width: 20vmax;
        height: 4vmax;
        font-size: 2vmax;
        border-radius: 15px;
        background-color: #d6ccc2;
    }
}