:root {
    --margins_sides: 15%;
}

body {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: white;
}

.profileInfo {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
    width: 100%;
}

.pfp {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid black;
}

.username {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 0;
}

.numberOfCluster {
    display: flex;
    align-items: center;
    gap: 8px;
}

.icon {
    width: 24px;
    height: 24px;
}

.numberOf {
    font-size: 18px;
    margin: 0;
    padding: 0;
}

.profileRecipeMenu {
    margin-left: var(--margins_sides);
    margin-right: var(--margins_sides);
    margin-top: 5%;
    display: flex;
    align-items: center;
    background-color: rgb(255, 230, 204);
}

.profileMenu {
    display: flex;
}

#sortContainer {
    display: flex;
    justify-content: flex-end;
    margin-right: 8px;
}

#sortContainer label {
    margin-right: 8px;
}

#sortProfileRecipes {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}

#profileRecipesContainer {
    margin-top: 8px;
    justify-content: center;
    margin-left: var(--margins_sides);
    margin-right: var(--margins_sides);
}

.profileRecipe {
    aspect-ratio: 3 / 2;
    border: 2px solid black;
    transition: box-shadow 0.4s ease;
}

.profileRecipe:hover {
    box-shadow: 2px -2px 4px rgb(179, 255, 240);
}

.createRecipeTile {
    aspect-ratio: 3 / 2;
    border: 2px solid black;
    font-size: 10vh;
    text-align: center;
    align-content: center;
    transition: background-color 0.4s ease;
}

.createRecipeTile:hover {
    background-color: rgb(179, 255, 240);
}

.pure-g {
    gap: 8px;
}