#recipe-container {
  display: flex;
  justify-content: center;
  padding: 20vh 0vh;
}

#editRecipe {
  width: 16px;
  height: 16px;
  position: relative;
  top: -2px;
  cursor: pointer;
}

#recipe-info-section {
  height: 40vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

#recipe-section-title {
  text-align: center;
  font-weight: bold;
  padding-bottom: 6vh;
  font-size: 2.75em;
}

#recipe-img{
  padding-right: 1vw;
  height: 100%;
  display: flex;
  justify-content: right;
  flex-direction: row;
}

#img-of-recipe {
  width: auto; 
  height: 100%; 
  aspect-ratio: 1; 
  object-fit: cover;
  border-radius: 15px;
  margin-right: 0.5em;
}

#recipe-info {
  background-color: #d6ccc2;
  margin-left: 0.5em;
  margin-right: 0.5em;
  padding: 1em;
  border-radius: 15px;
}

#comment-with-button {
  display: flex;
  justify-content: space-between;
}

#delete-button {
  border: none;
  background: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: right;
  align-items: top;
  font-weight: bolder;
  font-family: sans-serif;
}

#hidden-recipe-id {
  display: none;
}


