body {
    background-color: #ebebeb;
}

#header {
    height: 20px;
}

#pfp {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid black;
}

form{
    justify-content: center;
    align-items: center;
    text-align: center;
}

#hometop {
    height: 30vh;
    width: 100vw;
}

#homebottom{
    height: 40vh;
    width: 100vw;
}

.logoC{
    color: orangered;
    font-weight: bold;
}

.logoBig{
    color: goldenrod;
}

.query-container{
    display: flex;
    justify-content: center;
}

#queryhome {
    width: 40%;
    margin-right: 0;
    margin-bottom: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 0px;
}

#queryhomesubmit{
    margin-left: 0;
    width: 70px;
    border-top-left-radius: 0px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 10px;
    border: none;
    background-color: #ababab;
}

#queryhomesubmit:hover {
    background-color: #8f8f8f;
}

.navbar {
    background-color: rgb(236, 236, 255);
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#categories {
    background-color: antiquewhite;
}


#bottom {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.card-container {
    background-color: antiquewhite;
}

.card {
    height: 40vw;
    background-size: cover;
    background-position: center;
    text-align: center;
    display: flex;
    line-height: 40vw;
    color: white;
    font-size: 1.5em;
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
}

.card:hover { 
    /* greyscales the image on hover */
    -webkit-filter: grayscale(100%); 
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%); 
    transition: all 0.3s ease-out;
}

#breakfast {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2)
    ), url("resources/breakfast.jpg");
}
#lunch {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2)
    ), url("resources/lunch.jpg");
}

#dinner {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2)
    ), url("resources/dinner.jpg");
}

#dessert {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2)
    ), url("resources/dessert.jpg");
}

#footer {
    height: 40px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    width: 100vw;
    padding-left: 1vw;
    background-color: #d6d6d6;
}


.options {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.accountAccess {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
}

.pure-button.cancel {
    background-color: red;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.pure-button.submit {
    background-color: green;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

/* Small only */
@media screen and (max-width: 39.9375em) {
    .logoBig{
        font-size: 2em;
    }
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
    .logoBig{
        font-size: 2.5em;
    }
}

/* Medium and up */
@media screen and (min-width: 40em) {
    .logoBig{
        font-size: 3em;
    }
}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {
    .logoBig{
        font-size: 4em;
    }
}

/* Large and up */
@media screen and (min-width: 64em) {
    .logoBig{
        font-size: 5em;
    }
}
