* {
}

body {
    background-color: #ebebeb;
}

#header {
    height: 20px;
}

#pfp {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid black;
}

form{
    justify-content: center;
    align-items: center;
    text-align: center;
}

#hometop,
#homebottom{
    height: 40vh;
    width: 100vw;
}

.logoC{
    color: orangered;
    font-weight: bold;
}

.logoBig{
    font-size: 5em;
    color: goldenrod;
}

#queryhome {
    margin-top: .3em;
    width: 75%;
    margin-right: 0;
}

#queryhomesubmit{
    margin-left: 0;
    width: 10%;
}

.navbar {
    background-color: rgb(236, 236, 255);
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#categories {
    background-color: antiquewhite;
}


#bottom {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.card-container {
    background-color: antiquewhite;
}

.card {
    height: 40vw;
    background-size: cover;
    background-position: center;
    text-align: center;
    display: flex;
    line-height: 40vw;
    color: white;
    font-size: 1.5em;
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
}

.card:hover { 
    /* greyscales the image on hover */
    -webkit-filter: grayscale(100%); 
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%); 
    transition: all 0.3s ease-out;
}

#breakfast {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2)
      ), url("resources/breakfast.jpg");
}
#lunch {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2)
      ), url("resources/lunch.jpg");
}

#dinner {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2)
      ), url("resources/dinner.jpg");
}
=======
.options {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.accountAccess {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
}

